.brand-logo {
    color : $primary;
    font-weight: bold;    
}

.cursor-pointer {
    cursor : pointer;
}

.toast .toast-header {
    padding : 8px !important;
}

.b-toast .toast .toast-body {
    padding: 12px;
}

.modal-body {
    padding: 0rem 1.0rem !important;
}