//
// Modal
//


// Fluid modal

.modal-fluid {
    .modal-dialog {
        margin-top: 0;
        margin-bottom: 0;
    }
    .modal-content {
        border-radius: 0;
    }
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.1;
    font-size: 1.1rem !important;
    align-self: center;
}

// Background color variations

@each $color, $value in $theme-colors {
    .modal-#{$color} {
        @include modal-variant($value);
    }
}
