<template>
  <div class="wrapper">
    <side-bar>
      <template slot="links">
        <sidebar-item
          v-for="(item, index) in menu"
          :key="item + index"
          :link="{
            name: item.name,
            path: item.path,
            icon: item.class
          }"
        >
        </sidebar-item>
      </template>
    </side-bar>
    <div class="main-content">
      <dashboard-navbar></dashboard-navbar>

      <div @click="$sidebar.displaySidebar(false)">
        <fade-transition :duration="200" origin="center top" mode="out-in">
          <router-view></router-view>
        </fade-transition>
      </div>
    </div>
  </div>
</template>
<script>
import DashboardNavbar from "./DashboardNavbar.vue";
import DashboardContent from "./Content.vue";
import { FadeTransition } from "vue2-transitions";

export default {
  components: {
    DashboardNavbar,
    DashboardContent,
    FadeTransition
  },
  data() {
    return {
      menu: [
        {
          name: "Role",
          path: "/role",
          class: "ni ni-key-25 text-info"
        },
        {
          name: "User",
          path: "/user",
          class: "ni ni-circle-08 text-pink"
        }
      ]
    };
  }
};
</script>
<style lang="scss"></style>
