<template>
  <div>
    <base-header class="pt-5 pt-md-6"> </base-header>
  </div>
</template>
<script>
export default {
  components: {},

  data() {
    return {};
  },
  methods: {},
  mounted() {}
};
</script>
<style></style>
