<template>
  <div>
    <base-header class="pt-5 pt-md-6"> </base-header>
    <b-container fluid class="mt-4">
      <b-row>
        <b-col>
          <b-card no-body>
            <b-card-header class="border-0">
              <div class="row">
                <div class="ml-auto">
                  <div class="d-inline-flex">
                    <b-form-group class="mb-0 mr-3">
                      <search-data v-model="table.search"></search-data>
                    </b-form-group>

                    <b-button
                      variant="info"
                      class="ml-auto"
                      @click="fetchData()"
                      >Refresh</b-button
                    >
                    <b-button
                      variant="primary"
                      class="btn btn-primary ml-auto"
                      @click="openDialogAdd()"
                      >Add Data</b-button
                    >
                  </div>
                </div>
              </div>
            </b-card-header>
            <b-table
              :items="tableItems"
              :fields="table.fields"
              :sort-by.sync="table.sortBy"
              :sort-desc.sync="table.sortDesc"
              :current-page="currentPage"
              :per-page="tableShowData"
              :filter="table.search"
              responsive="sm"
              :busy="tableLoading"
            >
              <template #cell(no)="data">
                <span>{{ data.index + 1 }}</span>
              </template>
              <template #cell(gender)="data">
                <span>{{
                  items.gender.items.find(f => f.value == data.item.gender).text
                }}</span>
              </template>
              <template #cell(role)="data">
                <span>{{
                  items.role.items.find(f => f.id == data.item.role).name
                }}</span>
              </template>
              <template #cell(action)="data">
                <b-icon
                  @click="openDialogEdit(data.item)"
                  class="h3 text-primary cursor-pointer"
                  icon="pencil"
                  aria-hidden="true"
                ></b-icon>
                <b-icon
                  @click="
                    dialog.delete.model = true;
                    dialog.delete.item = data.item.id;
                  "
                  class="h3 text-danger cursor-pointer"
                  icon="trash-fill"
                  aria-hidden="true"
                ></b-icon>
              </template>
              <template #table-busy>
                <div class="text-center text-primary my-2">
                  <b-spinner class="align-middle"></b-spinner>
                  <strong>Loading...</strong>
                </div>
              </template>
            </b-table>
            <b-card-footer class="py-4">
              <div class="row">
                <show-data></show-data>

                <select-show-data></select-show-data>

                <pagination></pagination>
              </div>
            </b-card-footer>
            <validation-observer
              ref="observer"
              v-slot="{ handleSubmit, invalid }"
            >
              <b-modal
                title="Input Data User"
                size="lg"
                v-model="dialog.form.model"
                no-close-on-backdrop
              >
                <div>
                  <b-form
                    @submit.prevent="
                      dialog.form.isEdit
                        ? handleSubmit(updateData(invalid))
                        : handleSubmit(createData(invalid))
                    "
                  >
                    <b-row>
                      <b-col lg="12">
                        <base-input
                          type="text"
                          label="Full Name"
                          placeholder="Full Name"
                          rules="required"
                          v-model="form.name"
                        >
                        </base-input>
                      </b-col>
                      <b-col lg="12">
                        <base-input
                          type="text"
                          label="Email"
                          placeholder="Email"
                          rules="required|email"
                          v-model="form.email"
                        >
                        </base-input>
                      </b-col>
                      <b-col lg="12">
                        <base-select
                          type="text"
                          label="Gender"
                          placeholder="Gender"
                          rules="required"
                          v-model="form.gender"
                          @input="val => (form.gender = val)"
                          :options="items.gender.items"
                        >
                        </base-select>
                      </b-col>
                      <b-col lg="12">
                        <base-date-picker
                          type="text"
                          label="Date Birth"
                          placeholder="Date Birth"
                          rules="required"
                          v-model="form.dateBirth"
                        >
                        </base-date-picker>
                      </b-col>
                      <b-col lg="12">
                        <base-text-area
                          type="text"
                          label="Address"
                          placeholder="Address"
                          rules="required"
                          v-model="form.address"
                        >
                        </base-text-area>
                      </b-col>

                      <b-col lg="12">
                        <base-select
                          type="text"
                          label="Role"
                          placeholder="Role"
                          rules="required"
                          v-model="form.role"
                          @input="val => (form.role = val)"
                          :options="items.role.items"
                          valueField="id"
                          textField="name"
                          :disabled="items.role.loading"
                        >
                        </base-select>
                      </b-col>
                    </b-row>
                  </b-form>
                </div>

                <template #modal-footer>
                  <b-button variant="secondary" @click="closeDialog()">
                    Cancel
                  </b-button>
                  <b-button
                    variant="primary"
                    :disabled="dialog.form.loading"
                    @click="
                      dialog.form.isEdit
                        ? handleSubmit(updateData(invalid))
                        : handleSubmit(createData(invalid))
                    "
                  >
                    {{ dialog.form.loading ? "Loading..." : "Submit" }}
                  </b-button>
                </template>
              </b-modal>
            </validation-observer>

            <b-modal
              title="Delete Data User"
              size="md"
              v-model="dialog.delete.model"
              no-close-on-backdrop
            >
              <div>
                Are you sure wanna delete this data?
              </div>

              <template #modal-footer>
                <b-button
                  variant="secondary"
                  @click="dialog.delete.model = false"
                >
                  Cancel
                </b-button>
                <b-button variant="danger" @click="deleteData()">
                  Delete
                </b-button>
              </template>
            </b-modal>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import { ValidationObserver } from "vee-validate";
import DataTable from "../../components/Table/Table.vue";
import SearchData from "../../components/Table/SearchData.vue";
import Pagination from "../../components/Table/Paginate.vue";
import SelectShowData from "../../components/Table/SelectShowData.vue";
import ShowData from "../../components/Table/ShowData.vue";
import BaseSelect from "../../components/Inputs/BaseSelect.vue";
import BaseTextArea from "../../components/Inputs/BaseTextArea.vue";
import BaseDatePicker from "../../components/Inputs/BaseDatePicker.vue";

import { mapState } from "vuex";

export default {
  components: {
    DataTable,
    SearchData,
    Pagination,
    SelectShowData,
    ShowData,
    BaseSelect,
    BaseTextArea,
    BaseDatePicker,
    ValidationObserver
  },
  computed: {
    ...mapState({
      tableLoading: state => state.table.isLoading,
      tableItems: state => state.data,
      tableShowData: state => state.table.showData
    }),

    currentPage: {
      get() {
        return this.$store.state.table.currentPage;
      },
      set(val) {
        this.$store.commit("setTableCurrentPage", val);
      }
    }
  },
  data() {
    return {
      modalShow: false,
      url: "user/",
      sortBy: "last_name",
      sortDesc: false,
      dialog: {
        form: {
          loading: false,
          isEdit: false,
          model: false
        },
        delete: {
          loading: false,
          model: false,
          item: ""
        }
      },
      items: {
        role: {
          loading: false,
          items: []
        },
        gender: {
          items: [
            {
              value: "L",
              text: "Male"
            },
            {
              value: "P",
              text: "Female"
            }
          ]
        }
      },
      form: {
        id: "",
        name: "",
        gender: null,
        dateBirth: "",
        address: "",
        email: "",
        role: null
      },

      table: {
        loading: false,
        search: "",
        options: {},
        fields: [
          { key: "no", label: "#", sortable: false },
          { key: "name", label: "Name", sortable: true },
          { key: "email", label: "Email", sortable: true },
          { key: "role", label: "Role", sortable: true },
          { key: "gender", label: "Gender", sortable: true },
          { key: "dateBirth", label: "Date Birth", sortable: true },
          { key: "address", label: "Address", sortable: true },
          {
            key: "action",
            label: "Actions",
            sortable: false
          }
        ],
        sortBy: "last_name",
        sortDesc: false
      }
    };
  },
  mounted() {
    this.getRole();
    this.fetchData();
  },
  methods: {
    async fetchData() {
      const url = this.url;
      this.table.items = [];
      this.table.pagination = {};

      this.table.loading = true;

      this.$store
        .dispatch("fetchData", {
          url
        })
        .finally(() => {
          this.table.loading = false;
        });
    },
    getRole() {
      const url = "role";

      this.items.role.loading = true;

      this.$store
        .dispatch("get", {
          url
        })
        .then(val => {
          this.items.role.items = val.data;
        })
        .catch(err => {
          console.log(err);
        })
        .finally(() => {
          this.items.role.loading = false;
        });
    },
    resetValidation() {
      this.$refs.observer.reset();
    },

    openDialogAdd() {
      this.clearState();

      this.resetValidation();

      this.getRole();

      this.dialog.form.isEdit = false;

      this.dialog.form.model = true;
    },

    closeDialog() {
      this.dialog.form.model = false;
    },

    deleteData() {
      this.dialog.delete.loading = true;

      const item = this.dialog.delete.item;
      const url = this.url + item;

      this.$store
        .dispatch("delete", {
          params: item,
          url
        })
        .then(() => {
          this.dialog.delete.model = false;
          this.fetchData();
        })
        .catch(err => {
          console.log(err);
        })
        .finally(() => {
          this.dialog.delete.loading = false;
          this.dialog.delete.model = false;
        });
    },

    openDialogEdit(item) {
      this.clearState();

      let self = this;
      Object.keys(this.form).forEach(function(key) {
        self.form[key] = item[key];
      });

      this.resetValidation();

      this.getRole();

      this.dialog.form.isEdit = true;

      this.dialog.form.model = true;
    },

    clearState() {
      let self = this;
      this.dialog.form.loading = false;
      this.dialog.delete.loading = false;

      Object.keys(this.form).forEach(function(key) {
        self.form[key] = "";
      });
    },
    createData(invalid) {
      if (!invalid) {
        this.dialog.form.loading = true;

        const form = this.form;
        const url = this.url;

        this.$store
          .dispatch("create", {
            params: { form },
            url
          })
          .then(() => {
            this.closeDialog();
            this.fetchData();
            this.clearState();
          })

          .finally(() => {
            this.dialog.form.loading = false;
          });
      }
    },
    updateData(invalid) {
      if (!invalid) {
        this.dialog.form.loading = true;

        const form = this.form;
        const url = this.url + form.id;

        this.$store
          .dispatch("update", {
            params: { form },
            url
          })
          .then(() => {
            this.closeDialog();
            this.clearState();
            this.fetchData();
          })

          .finally(() => {
            this.dialog.form.loading = false;
          });
      }
    }
  }
};
</script>

<style lang="stylus" scoped></style>
