<template>
  <b-alert
    v-model="value"
    variant="warning"
    static
    :title="title"
    :visible="value"
  >
    text
  </b-alert>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      default: false
    },
    text: {
      type: String,
      default: ""
    },
    title: {
      type: String,
      default: ""
    }
  }
};
</script>

<style lang="stylus" scoped></style>
