<template>
  <base-pagination
    class="ml-auto"
    v-model="currentPage"
    :per-page="tableShowData"
    :total="tableItems.length"
    @input="val => (currentPage = val)"
  ></base-pagination>
</template>

<script>
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState({
      tableLoading: state => state.table.isLoading,
      tableItems: state => state.data,
      tableShowData: state => state.table.showData
    }),
    currentPage: {
      get() {
        return this.$store.state.table.currentPage;
      },
      set(val) {
        this.$store.commit("setTableCurrentPage", val);
      }
    }
  }
};
</script>

<style lang="stylus" scoped></style>
