<template>
  <div>
    <b-form-group class="mb-0 mr-3">
      <b-input-group class="input-group-alternative input-group-merge">
        <b-form-input placeholder="Search" type="text" v-model="search">
        </b-form-input>

        <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
      </b-input-group>
    </b-form-group>
  </div>
</template>

<script>
import _ from "lodash";

export default {
  props: {
    value: {}
  },
  data() {
    return {
      search: this.value
    };
  },
  watch: {
    search(query) {
      this.performSearch(query);
    }
  },
  methods: {
    performSearch: _.debounce(function(query) {
      this.$emit("input", query);
    }, 500)
  }
};
</script>

<style lang="stylus" scoped></style>
