<template>
  <div class="m-auto d-inline-flex">
    <small class="mr-2 align-self-center">Showing</small>
    <b-form-select
      class="custom-select custom-select-sm"
      :options="items"
      v-model="tableShowData"
    >
    </b-form-select>
    <small class="ml-2 align-self-center">Records</small>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      items: [10, 25, 50, 100]
    };
  },
  computed: {
    ...mapState({
      tableLoading: state => state.table.isLoading,
      tableItems: state => state.data
    }),
    tableShowData: {
      get() {
        return this.$store.state.table.showData;
      },
      set(val) {
        this.$store.commit("setTableShowData", val);
      }
    }
  }
};
</script>

<style lang="stylus" scoped></style>
