<template>
  <small class="align-self-center"
    >Showing
    {{ showTableData ? tableItems.length : tableShowData }}
    of {{ tableItems.length }} records
  </small>
</template>

<script>
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState({
      tableLoading: state => state.table.isLoading,
      tableItems: state => state.data,
      tableShowData: state => state.table.showData
    }),
    showTableData() {
      if (this.tableItems.length < this.tableShowData) {
        return true;
      } else {
        return false;
      }
    }
  }
};
</script>

<style lang="stylus" scoped></style>
