<template>
  <div>
    <b-table
      :items="tableItems"
      :fields="fields"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :current-page="currentPage"
      :per-page="tableShowData"
      :filter="search"
      responsive="sm"
      :busy="tableLoading"
    >
      <template #cell(no)="data">
        <span>{{ data.index + 1 }}</span>
      </template>
      <template #cell(action)="data">
        <b-icon
          @click="$emit('edit', data.item)"
          class="h3 text-primary cursor-pointer"
          icon="pencil"
          aria-hidden="true"
        ></b-icon>
        <b-icon
          @click="$emit('delete', data.item)"
          class="h3 text-danger cursor-pointer"
          icon="trash-fill"
          aria-hidden="true"
        ></b-icon>
      </template>
      <template #table-busy>
        <div class="text-center text-primary my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>Loading...</strong>
        </div>
      </template>
    </b-table>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  props: {
    search: {},
    field: {}
  },
  data() {
    return {
      sortBy: "last_name",
      sortDesc: false
    };
  },
  computed: {
    ...mapState({
      tableLoading: state => state.table.isLoading,
      tableItems: state => state.data,
      tableShowData: state => state.table.showData
    }),
    currentPage: {
      get() {
        return this.$store.state.table.currentPage;
      },
      set(val) {
        this.$store.commit("setTableCurrentPage", val);
      }
    }
  }
};
</script>

<style lang="stylus" scoped></style>
