<template>
  <router-view></router-view>
</template>

<script>
import Toast from "./components/Toast.vue";
import { mapState } from "vuex";

export default {
  components: {
    Toast
  },
  computed: {
    ...mapState(["snackbars"])
  }
};
</script>
